*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

ul{

    list-style: none;
}

.container {

    width: 90%;
    margin: 0 auto;
}

/* ------------------------ HEADER STYLING ----------------- */

.header {
    width: 100%;
}

.header .navbar {

    background-color: #fdf0ea;
    padding: 20px 0px;
    
}

.header .navbar .nav-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navbar .nav-wrapper .logo-image {
    width: 180px;
}

.header .navbar .nav-wrapper .nav-items {
    display: flex;
    align-items: center;
}

.header .navbar .nav-wrapper .nav-items .nav-link {
    color: black;
    padding: 20px 10px ;

}

.header .navbar .nav-wrapper .nav-items .nav-link.login-link {
    color: white;
    padding: 10px 20px;   

}

.header .navbar .nav-wrapper .nav-items .nav-link.login {
    color: white;
}

.border-rounded{

    background-color: #EB662B;
    border-radius: 30px;

}

.hero-section{
    padding: 50px 0;
    background-image: url("img/background.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-size: xx-large;
    margin-left: 550px;
}
.fname{
    font-size: medium;
    margin-left: 200px;
}
.lname{
    font-size: medium;
   
}
form{
    display: flex;
    gap: 50px;
    padding: 15px;
}
input{
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  .C .fname textarea{
        width: 850px;
        height: 200px;
        resize: none;
        border-radius: 20px;
  }
  .send{
    background-color:  #EB662B;
    border-radius: 50px;
    color: white;
    padding: 10px;
    margin: 0 245px;
    width: 800px;
  }
  

.footer-destination{
    background-color: #fdf0ea;
 }
 .footer-destination .container {
    /* border: solid black; */
    display: flex;
    justify-items: space-between;
    padding-bottom: 20px;

 }

 .footer-destination .container .company,
 .footer-destination .container .contact,
 .footer-destination .container .social-media {
    flex: 1;
 }

 .footer-destination .container .company {
    padding-top: 10px;
 }
 .footer-destination .container .company img {
    padding-top: 10px;
 }
 
 .footer-destination .container .company .about-us {

    background-color:  #EB662B;
    border-radius: 10px;
    color: white;
    padding: 10px;

 }

 .footer-destination .container  .contact {

    padding: 15px 20px;

 }

 .footer-destination .container .social-media {
    color: #EB662B;
    padding-top: 20px;
    line-height: 50px;

 }

 .footer-destination .container .contact {

    padding-top: 20px;
    line-height: 32px;


 }

 .footer-destination .container  .contact h3 {
     color: #EB662B;
 }

 .footer-destination .container .social-media h3 {
    color: #EB662B;

 }




 .footer-destination .container .social-media .sm-icone {
   display: flex;
   width: 50px;
   height: 50px;
 }